{{!--<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto navbar-expand-lg">
    <a class="me-3 py-1 text-dark text-decoration-none" href="#">Nuestros Cursos</a>
    <a class="me-3 py-1 text-dark text-decoration-none" href="#">Enseña en Eduka-tech</a>
    <a class="me-3 py-1 text-dark text-decoration-none" href="#">Soporte</a>

    <button class="btn btn-sm btn-outline-success ml-3">Inicia Sesión</button>
    <a class="btn btn-sm btn-danger mx-1" href="/registro">Regístrate</a>
</nav>--}}

{{>barranav/menu}}

<li class="nav-item dropdown mx-1">
    <button class="btn btn-sm btn-outline-success btn-block my-1 mx-1" data-toggle="modal" data-target="#loginusuario">Inicia Sesión</button>
</li>
<li class="nav-item dropdown mx-1">
    <a class="btn btn-sm btn-danger btn-block my-1 mx-1" href="/registro">Regístrate</a>
</li>
{{!--
<li class="nav-item">
          <a href="/" style="color:black;text-decoration-line: none;" data-toggle="modal" data-target="#agregapersonal"><i class="fa fa-user" aria-hidden="true" style="font-size: 0.8em; margin-right:3px;"></i>&nbsp; Ingresar &nbsp;&nbsp;&nbsp;</a>
</li>
<li class="nav-item">
          <a href="/registro" style="color:black;text-decoration-line: none;"> <i class="fa fa-rocket" aria-hidden="true" style="font-size: 0.8em; margin-right:3px;"></i>&nbsp; Regístrate &nbsp;&nbsp;&nbsp; </a>
</li>
--}}