<li class="nav-item">
    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Nuestros Cursos
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Enseña con Nosotros
    </a>
</li>

