<style>
    .paginaerror{
        font-size: 72pt;
        text-align: center;
        font-weight: bolder;
    }
    .pagerrordex{
        font-size: 18pt;
        text-align: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col mx-auto">
            <div class="paginaerror">
                Error 404
            </div>
            <div class="pagerrordex">
                Página no encontrada
            </div>
        </div>
    </div>
</div>

